@font-face {
  font-family: 'Algerian Mesa';
  src: url('https://github.com/DrZed/algerian-mesa/main/algerian-mesa.ttf') format('ttf'),
    
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
